<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button (click)="dash()">
        <ion-icon slot="icon-only" name="add-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>My Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    
    <div *ngFor="let p of this.local.getmytasks();index as i;">
    <ion-item  color="light"  button (click)="info(p)">
      <ion-avatar slot="start">
        <img src={{p.imageUrl}}>
      </ion-avatar>
      <ion-label>
        <ion-text>
          <h2><b>{{p.displayName}}</b> </h2>
        <p> {{p.task}}</p>
        </ion-text>
        
      </ion-label>
      <ion-badge color="light">{{p.date}}</ion-badge>
    </ion-item>
    </div>
    </ion-list>
    </ion-content>
  